
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&display=swap');

.text-slogan {
    font-family: 'Ubuntu', arial, sans-serif;
    font-weight: 700;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    margin: 0;
    padding: 0;
    line-height: 0.9em;
}
.text-slogan-gold {
    color: #c2972d;
}

h2 {
    font-family: 'Ubuntu', arial, sans-serif;
    font-weight: 700;
    font-size: 2.2em;
    padding: 15px 0;
}

h3 {
    font-family: 'Ubuntu', arial, sans-serif;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 300;
    letter-spacing: 1px;
}

h4 {
    font-family: 'Ubuntu', arial, sans-serif;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 300;
}

p {
    font-family: 'Ubuntu', arial, sans-serif;
    font-size: 0.8em;
    font-weight: 300;
}

.white {
    color: white;
}

header {
    height: 600px;
    background: no-repeat center url('./img/header_bellicardi.jpg');
    background-size: cover;
    position: relative;
}

.logo {
    width: 100px;
    padding: 10%;
}

#hero-illustration {
    position: absolute;
    float: right;
    width: 660px;
    right: 0;
    bottom: -85px;
}

.menu {
    color: white;
    text-transform: uppercase;
    font-family: 'Ubuntu', arial, sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    letter-spacing: 1px;
    cursor: pointer;
}

.menu:hover {
    font-weight: 700;
}

#slogan {
    margin-top: 5%;
    margin-left: 5%;
}

.post {
    font-family: 'Ubuntu', arial, sans-serif;
    font-size: 0.8em;
    font-weight: 300;
    color: white;
    margin-left: 10%;
    margin-top: 5%;
}

.cta {
    font-family: 'Ubuntu', arial, sans-serif;
    font-weight: 700;
    font-size: 0.9em;
    text-transform: uppercase;
    padding: 2% 10%;
    margin-left: 10%;
}

.post-bloc {
    padding: 5% 10%;
}

.large-post-bloc {
    padding: 0 5%;
}

#pictures {
    position: relative;
    height: 460px;
}

.outlined {
    position: absolute;
    border: solid 20px white;
    top: -15px;
    width: 350px;
    left: 5%;
}

.nice {
    position: absolute;
    top: 100px;
    left: 40%;
    width: 290px;
}

.bellicardi {
    position: absolute;
    width: 190px;
    left: 15%;
    top: 210px;
}

#vision, footer {
    background-color: #0f5365;
}

.mini-slider {
    width: 370px;
    padding-top: 25px;
}

.nos-services, .nous-contacter, .notre-vision {
    padding: 25px 80px;
}

.icone {
    height: 64px;
}

.space {
    margin-top: 60px;
}

.small-space {
    margin-top: 30px;
}

.serv {
    padding: 20px;
}

.blue-button {
    background-color: #0f5365;
    color: white;
    font-family: 'Ubuntu', arial, sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 400;
    letter-spacing: 1px;
    width: 200px;
    height: 40px;
    border: none;
}
.turquoise-button {
    background-color: #4394a1;
    color: white;
    font-family: 'Ubuntu', arial, sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 400;
    letter-spacing: 1px;
    width: 200px;
    height: 40px;
    border: none;
}
.gold-button {
    background-color: #c2972d;
    color: white;
    font-family: 'Ubuntu', arial, sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 400;
    letter-spacing: 1px;
    width: 200px;
    height: 40px;
    border: none;
}

.contact-form {
    width: 75%;
}

footer {
    padding-top: 5%;
}

.footer-text {
    font-family: 'Ubuntu', arial, sans-serif;
    font-size: 0.8em;
    font-weight: 300;
    color: white;
    padding: 50px 25px;
}

.footer-menu {
    font-family: 'Ubuntu', arial, sans-serif;
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-left: 25px;
    margin: 3px;
}

.footer-menu a {
    color: white;
}

.footer-menu-div {
    padding: 50px 20px;
}

.cjd-text {
    font-family: 'Ubuntu', arial, sans-serif;
    font-size: 0.8em;
    font-weight: 300;
    color: white;
}

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}
    
body { margin: 0; } 
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; }
div#slider figure { 
    position: relative;
    width: 500%;
    margin: 0;
    /* left: 0;
    text-align: left; */
    font-size: 0;
    animation: 30s slidy infinite; 
}

.gold-border {
    border-bottom: solid 2px #c2972d;
    width: 25px;

}




@media (min-width: 768px) and (max-width: 1024px) {
    
    #hero-illustration {
        right: -100px;
        bottom: -85px;
    }
    
    .outlined {
        left: -30%;
    }
    
    .nice {
        left: 15%;
    }
    
    .bellicardi {
        left: -10%;
    }

    .notre-vision {
        padding-left: 0px;
    }

    .nos-services, .nous-contacter {
        padding: 25px 0px;
    }


}

@media only screen and (max-width:767px) {

    #hero-illustration {
        display: none;
    }

    .notre-vision {
        padding-left: 5%;
    }

    .mini-slider {
        margin-left: 10%;
    }

    .contact-form {
        width: 95%;
    }

    .nos-services, .nous-contacter, .notre-vision {
        padding: 15px;
    }


}
